.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
  
    
  }
   
  .form {
    width: 450px;
  }
  
  a, a:hover, a:focus {
    text-decoration: none;
  }
  h6 {
    font-size: 15px;
    font-weight: 300;
  }
  
  .mybtn-social{
    margin-top: 25px;
  }
  .mysocial-login-buttoms{
    margin-top: 35px;
  }
  .mybtn-social{
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 15px 20px 0 20px;
    background:rgba(0, 0, 255, 0);
    border: 1px solid #9b9b9b;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #000;
    -moz-border-radius: 4px;
    -webkit-border-radius:px;
    border-radius: 4px;
  }
  
  .mybtn-social:hover, .mybtn-social:focus, .mybtn-social:active:focus{
    outline: 0;
    opacity: 0.6;
    background: rgba(0,0,255,0.3);
    color: #fff;
  }