<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
  <header>
    <div class="container text-center">
      <h1>PowerGym</h1>
    </div>
  </header>
  <!-- carousel start -->
  <div class="container justify-content-center">
    <div id="carousel-1" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
        <li data-target="#carousel-1" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active"> <!-- la clase es carousel-item -->
          <img src="https://cdn.pixabay.com/photo/2016/03/27/23/00/weight-lifting-1284616_960_720.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="https://cdn.pixabay.com/photo/2018/04/16/15/40/dumbbell-3324976_960_720.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="https://cdn.pixabay.com/photo/2016/11/21/22/56/naked-1847866_960_720.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="https://cdn.pixabay.com/photo/2016/12/04/22/15/fitness-1882721_960_720.jpg" class="d-block w-100" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- carousel end -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>