<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- my styles -->
    <link rel="stylesheet" href="../css/styles.css">
    <title>Aless</title>
    <link rel="icon" type="image/png" href="../assets/img/icon_aless.jpg">
    <meta name="description" content="shop guitar website">
    <meta name="keywords" content="TELEMATICA, WEB, SHOP, WEBSITE">
    <meta name="author" content="Santiago Zapata">

  </head>
  <body>
    <!-- login-bar -->
    <!-- menu -->
    <div class="container-fluid bg-dark">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark container">
            <a class="navbar-brand ml-4" href="#">
                <nav class="navbar navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">
                      <img src="../assets/img/icon_aless.jpg" width="30" height="30" class="d-inline-block align-top" alt="">Aless
                    </a>
                  </nav>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                  <a class="nav-item nav-link" href="index.html">Home</a>
                  <a class="nav-item nav-link" href="#">Products</a>
                  <a class="nav-item nav-link mr-4" href="#">Contact</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- submenu -->
    <div class="container-fluid bg-light">
        <nav class="nav container">
            <a class="nav-link ml-4 textSubmenu" href="#">All</a>
            <a class="nav-link textSubmenu" href="#">Hot products</a>
            <a class="nav-link textSubmenu" href="#">Categories</a>
    </div>
    
    <!-- banner -->
 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>