<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Santiago Zapata">
        <title>Signup<Aless></title>
        <link rel="icon" type="image/png" href="../assets/img/icon_aless.jpg">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/stylesSignup.css">
        <script src="https://kit.fontawesome.com/20a6e1bcb9.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family-Raleway:100,300,400,500" rel = "stylesheet">
    </head>
    <body>
        <!-- menu -->
        <div class="container-fluid bg-dark">
            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark container">
                <a class="navbar-brand ml-4" href="#">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">
                        <img src="../assets/img/icon_aless.jpg" width="30" height="30" class="d-inline-block align-top" alt="">Aless
                        </a>
                    </nav>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="index.html">Home</a>
                    <a class="nav-item nav-link" href="#">Products</a>
                    <a class="nav-item nav-link mr-4" href="#">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="text-center container abs-center">
            <form>
                <img class="mb-4" src="../assets/img/icon_aless.jpg" alt="" width="72" height="72">
                <div class="form-group">
                    <div class="inputWithIcon">
                        <input type="text" class="form-control" id="exampleUser" placeholder="Full name">
                        <i class="fas fa-user" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="form-group">
                        <div class="inputWithIcon">
                            <input type="email" class="form-control" id="exampleEmail" placeholder="Email">
                            <i class="fas fa-envelope" aria-hidden="true"></i>
                        </div>
                </div>
                <div class="form-group">
                        <div class="inputWithIcon">
                            <input type="password" class="form-control" id="examplePassword" placeholder="Password">
                            <i class="fas fa-key" aria-hidden="true"></i>
                        </div>
                </div>
                <div class="form-group">
                        <div class="inputWithIcon">
                            <input type="date" class="form-control" id="exampleBirth" placeholder="Date of birth">
                            <i class="fas fa-birthday-cake" aria-hidden="true"></i>
                        </div>
                </div>
                <div class="form-group">
                        <div class="inputWithIcon">
                            <select id="city" class="form-control">
                                    <option>Bogotá</option>
                                    <option>Cali</option>
                                    <option>Cartagena</option>
                                    <option>Envigado</option>
                                    <option>Medellin</option>
                                </select>
                            <i class="fas fa-city" aria-hidden="true"></i>
                        </div>
                </div>
                
                <button type="submit" class="btn btn-primary" >Sign up</button>
                <hr>
                <div class="row">
                    <div class="col-sm-12 mysocial-login">
                        <h6>Sign up also by:</h6>
                        <div class="mysocial-login-buttoms">
                            <a class="mybtn-social" href="#">
                                <i class="fab fa-facebook-f"></i>Facebook
                            </a>
                            <a class="mybtn-social" href="#">
                                    <i class="fab fa-twitter"></i>Twitter
                            </a>
                            <a class="mybtn-social" href="#">
                                <i class="fab fa-google"></i>Google
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
    </body>
</html>
